<!DOCTYPE HTML>
<html lang="en">
    
<head>
        
    <meta http-equiv="content-type" charset="utf-8" content="text/html">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
</head>

<body>
	<header>
      <div class="container">
        <h1 class="logo">NetLang Project</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
			<li><a href="{{ url_for('words') }}">Words</a></li>  
			<li><a href="{{ url_for('upload') }}">File Analyser</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    <div class = "container">
	{% block content %}
	{% endblock %}
	</div>
   <!-- Start of third page
	}
<div data-role="page" id="palavras" data-theme="c">
    
    <div data-role="header">
		<h1>Palavras</h1>
	</div> --><!-- /header -->
    <!--
    <div role="main" class="ui-content">
		
        <p style="text-align: justify;">
            Aqui apresenta-se a tabela relativa às palavras que são analisadas nos comentários submetidos à ferramenta.
        </p>
        <p>
        	<form name="form-actions" action="{{ url_for('words') }}" method="post">
        	<table>
			 <tr>
			   <td>Type of Prejudice:</td>
			   <td><input type="text" name="type" size="40"> <br /></td>
			 </tr>
			 <tr>
			   <td>Sociolinguistic variable:</td>
			   <td><input type="text" name="sociolinguistic" size="40"> <br /></td>
			 </tr>
			  <tr>
			   <td>Keyword:</td>
			   <td><input type="text" name="keyword" size="40"> <br /></td>
			 </tr>
			</table>
			
			<input type="submit" id='script' name="scriptbutton" value=" Acrescentar " >
			</form>
     	</p>

		<p><a href="#pagAbertura" class="ui-btn ui-btn-icon-left ui-icon-back" style="width:7%;margin:auto;font-size:12px;" data-transition="flip"> Voltar </a></p>
	</div> --><!-- /content -->

<!--	<div data-role="footer">
		<h4>2020</h4>
	</div> /footer
</div> --><!-- /page -->
</body>
</html>