<!--{% block title %}
	Home Page
{% endblock %}
-->
{% block content %}
<div class="File_analysis">
    <p>
    <h1 text-align: center;>Please select the file you want to analyze:</h1>
    <p>For the file, two tables are shown. A first analysis of hate speech by comments and the second makes a synthesis of the sociolinguistic variables found in the post and the associated hate speech.</p>
    <p>At the end of the file, there is a summary of the analysis.</p>
    <input type="file" name="fileupload" value="fileupload" id="fileupload">
    <label for="fileupload"> Select a file to upload</label> 
    <input type="submit" id='script' name="scriptbutton" value=" Acrescentar " >


<p><a href="/home" class="ui-btn ui-btn-icon-left ui-icon-back" style="width:7%;margin:auto;font-size:12px;" data-transition="flip"> Voltar </a></p>

{% endblock %}
