{% extends 'base.html'%}
<!--{% block title %}
	Home Page
{% endblock %}
-->
{% block content %}
	<div class="home">
	<h1>Introduction ...</a></h1>
	<p> NETLANG is an academic project, entitled <b>"The Language of Cyberbullying: Forms and Mechanisms of Online Prejudice and Discrimination in Annotated Comparable Corpora of Portuguese and English"</b>. </p> 
	<p> It is based at the University of Minho, Portugal, and is sponsored by FCT, as of 1 Oct 2018  (PTDC/LLT-LIN/29304/2017). </p>
	
	<p>The project’s research problem is Internet language, as used in communicative situations that involve the expression of prejudice and the purpose of discrimination. The problem raises two broad research questions: </p>
	 <p> -> The first one is what forms and mechanisms this language assumes. 
	  <p> ->The second is how, or if, these forms and mechanisms vary according to the interlocutors involved. </p>
	<p>The answer to the first question will allow us to identify the linguistic (morpho-syntactic, lexico-semantic) properties of the texts, as well as the discursive-pragmatic features of the expression of persecution and segregation in cyberspace. </p>
		
	<p>	The answer to the second question will allow us to draw a study of sociolinguistic variation against a continuum of identity factors, such as gender, age, ethnicity, social class and nationality, among others.
		
		Of course, the answers must be sought by crossing the sociological profiles of the discoursal subjects with the linguistic patterns of their online written speech.</p>
{% endblock %}